@page "/user/my_ebooks"
@inherits AuthorBaseComponent

<link rel="stylesheet" href="css/Page/User/myEbook.css">
<SideTopUser message="Tài khoản của tôi"></SideTopUser>
<div class="user-dashboard-area pt-3">
    <div class="container">
        <div class="row">
            <SideLeftUser isSelected=1></SideLeftUser>
            <div class="col-md-8 col-lg-9 mt-4 mt-md-0">
                <div class="my-course-1-full-body">
                    <div class="col-lg-12">
                        <h6>Tổng cộng 0 Tài khoản đã mua</h6>
                    </div>
                </div>
                <div class="category-course-list">
                    <div class="row">
                    </div>
                    <!-- practice -->
                </div>
                <style>
                </style>
            </div>
        </div>
    </div>
</div>
<script src="js/Page/User/myEbook.js"></script>
@code {

}
