@page "/admin/course-detail"
@using CourseProject.Model.ViewModel.Course

<div style="background: #f5f5f5" class="h-100">
    <div style="padding-top: 20px;" class="container-fluid bg-container">
        <div>
            <a href="/" class="btn">+ Thêm các khóa học</a>
        </div>
    </div>
</div>

@code {

}

