@inherits AuthorBaseComponent
<footer class="footer-area d-print-none mt-5 pt-5">
    <div class="container-xl py-4">
        <div class="row mb-3">
            <div class="col-6 col-sm-6 col-xl-2 px-4">
                <h6 class="text-white fw-700 mb-4">
                    <span class="header-underline">Liên kết hữu ích</span>
                </h6>
                <ul class="list-unstyled text-small">
                    <li class="mb-2 mt-1"><a class="link-secondary footer-hover-link" @onclick='() => NavigateToUrl("/course", true)'>Tất cả các khóa học</a></li>
                    <li class="mb-2 mt-1"><a class="link-secondary footer-hover-link" @onclick='() => NavigateToUrl("/register", true)'>Đăng ký</a></li>

                </ul>
            </div>
            <div class="col-6 col-sm-6 col-xl-2 px-4">
                <h6 class="text-white fw-700 mb-4">
                    <span class="header-underline">Trợ giúp</span>
                </h6>
                <ul class="list-unstyled text-small">
                    <li class="mb-2 mt-1"><a class="link-secondary footer-hover-link">Giới thiệu về chúng tôi</a></li>
                    <li class="mb-2 mt-1"><a class="link-secondary footer-hover-link">Chính sách quyền riêng tư</a></li>
                    <li class="mb-2 mt-1"><a class="link-secondary footer-hover-link">Điều khoản và điều kiện</a></li>
                    <li class="mb-2 mt-1"><a class="link-secondary footer-hover-link">Chính sách hoàn tiền</a></li>
                </ul>
            </div>
            <div class="col-12 col-xl-5 order-md-first pe-4 pe-xl-5 ps-4 ps-xl-0">
                <div class="footer-summary">
                    <h5 class="fw-600 mb-3">Study any topic, anytime. explore thousands of courses for the lowest price ever!</h5>

                    <ul class="footer-social-link">
                        <li class="mb-1 mt-2">
                            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="mb-1 mt-2">
                            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="border-top-sub-blue pt-3 pb-2">
        <div class="container-xl">
            <div class="row mt-3 py-1">
                <div class="col-md-4 ps-4 ps-md-1">
                    <img src="https://4user.net/uploads/system/b12da597d6b132c434c706c895f36975.png" width="160">
                </div>
                <div class="col-md-4 ps-4 text-13px pt-2 text-start text-md-center">
                    © 2022 4User Academy, Mọi quyền được bảo lưu          <br>
                </div>
                @* <div class="col-md-4 ps-4 text-start text-md-end mt-4 mt-md-0">
                    <select class="language_selector" onchange="switch_language(this.value)">
                        <option value="english">English</option>
                        <option value="vietnamese" selected="">Vietnamese</option>
                    </select>
                </div> *@
            </div>
        </div>
    </section>
</footer>

@code {

}
