@page "/course"
@using Blazorise
@using CourseProject.Model.BaseEntity
@using CourseProject.Model.ViewModel.Course
@using CourseProject.Shared.ComponentBase
@using static CourseProject.Model.Enum.DataType
@inject ITagService _tagService;
@inherits AuthorBaseComponent

<div class="category-header-area" style="background-image: url('https://4user.net/uploads/system/course_page_banner.png'); background-size: cover; background-position: right;">
    <div class="image-placeholder-3"></div>
    <div class="container-lg breadcrumb-container row align-items-center">
        <nav class="col-auto" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item display-6 fw-bold">
                    <a @onclick='() => NavigateToUrl("/course")'>
                        Tất cả các khóa học
                    </a>
                </li>
                <li class="breadcrumb-item active text-light display-6 fw-bold">
                    Tất cả danh mục
                </li>
            </ol>
        </nav>
        <div class="col-3 ms-auto d-none d-sm-inline-block">
            <div class="book-img">
                <img src="https://4user.net/assets/frontend/default/img/brd-book.png">
            </div>
        </div>
    </div>
</div>

<div class="category-course-list-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-3 filter-area">
                <div class="card border-0 radius-10 box-shadow-5">
                    <div id="collapseFilter" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body p-0">
                            <div class="filter_type px-4">
                                <div class="form-group">
                                    <h5 class="fw-700 mb-3">Giá</h5>
                                    <ul>
                                        <li>
                                            <div class="">
                                                <input type="radio" id="price_all" name="price" class="prices custom-radio" value="4" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.All; }">
                                                <label for="price_all">Tất cả</label>
                                            </div>
                                            <div class="">
                                                <input type="radio" id="price_free" name="price" class="prices custom-radio" value="0" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.Free; }">
                                                <label for="price_free">Miễn phí</label>
                                            </div>
                                            <div class="">
                                                <input type="radio" id="paid" name="price" class="prices custom-radio" value="1" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.Paid; }">
                                                <label for="price_free">Trả phí</label>
                                            </div>
                                            <div class="">
                                                <input type="radio" id="not-for-retail" name="price" class="prices custom-radio" value="2" @onclick="() => { searchCourseParam.TypeOfPurchase = TypeOfPurchase.NotForRetail; }">
                                                <label for="price_paid">Không bán lẻ</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="filter_type px-4">
                                <h5 class="fw-700 mb-3">Cấp độ</h5>
                                <ul>
                                    <li>
                                        <div class="">
                                                <input type="radio" id="all" name="level" class="level custom-radio" value="all" onclick="filter(this)" checked="">
                                                <label for="all">Tất cả</label>
                                            </div>
                                        @if (tagList != null && tagList.Count > 0)
                                        {
                                            for (int i = 0; i < tagList.Count; i++)
                                            {
                                                var currentTag = tagList[i];
                                            
                                                <div class="">
                                                <input type="radio" name="level" class="level custom-radio" value="@searchCourseParam.TagId" @onclick="() => { searchCourseParam.TagId = currentTag.Id; }">
                                                <label for="beginner">@currentTag.TagName</label>
                                            </div>
                                            }
                                        }
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <hr>
                            <div class="filter_type px-4">
                                <h5 class="fw-700 mb-3">Xếp hạng</h5>
                                <ul>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="all_rating" name="rating" class="ratings custom-radio" value="all" @onclick="() => { searchCourseParam.Rating = null; }" checked="">
                                            <label for="all_rating">Tất cả</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_1" name="rating" class="ratings custom-radio" value="1" @onclick="() => { searchCourseParam.Rating = 1; }">
                                            <label for="rating_1">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_2" name="rating" class="ratings custom-radio" value="2" @onclick="() => { searchCourseParam.Rating = 2; }">
                                            <label for="rating_2">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_3" name="rating" class="ratings custom-radio" value="3" @onclick="() => { searchCourseParam.Rating = 3; }">
                                            <label for="rating_3">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_4" name="rating" class="ratings custom-radio" value="4" @onclick="() => { searchCourseParam.Rating = 4; }">
                                            <label for="rating_4">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="far fa-star" style="color: #dedfe0;"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <input type="radio" id="rating_5" name="rating" class="ratings custom-radio" value="5" @onclick="() => { searchCourseParam.Rating = 5; }">
                                            <label for="rating_5">
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                                <i class="fas fa-star" style="color: #f4c150;"></i>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row category-filter-box mx-0 box-shadow-4">
                    <div class="col-md-6">
                        <!--<button class="btn py-1 px-2 mx-2 btn-light" onclick="toggleLayout('grid')"><i class="fas fa-th-large"></i></button>-->
                        <!--<button class="btn py-1 px-2 mx-2 btn-light" onclick="toggleLayout('list')"><i class="fas fa-list"></i></button>-->
                        <span class="text-12px fw-700 text-muted">Đang hiển thị 6 Of 14 Kết quả</span>
                    </div>
                    <div class="col-md-6 text-end filter-sort-by">
                        <span>Sắp xếp theo : </span>
                        <div class="dropdown d-inline-block">

                            <!-- hidden field of sorting value -->
                            <input id="sortByValue" type="hidden" name="sort_by" value="newest">
                            <Dropdown>
                                <DropdownToggleButton class="btn bg-background dropdown-toggle fw-bold text-capitalize">Mới nhất</DropdownToggleButton>
                                <DropdownMenu>
                                    <DropdownItem To="#" Type="ButtonType.Link">Mới nhất</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Đánh giá cao nhất</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Giá thấp nhất</DropdownItem>
                                    <DropdownItem To="#" Type="ButtonType.Link">Giá cao nhất</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </div>
                    </div>
                </div>
                <div class="category-course-list">
                    <ul>
                        <li>
                            <div class="course-box-2">
                                <div class="course-image">
                                    <a href="https://4user.net/home/course/practical-exam-prj/83">
                                        <img src="https://4user.net/uploads/thumbnails/course_thumbnails/optimized/course_thumbnail_default_831709917460.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="course-details">
                                    <a href="https://4user.net/home/course/practical-exam-prj/83" class="course-title">Practical Exam PRJ</a>

                                    <div class="course-subtitle d-none d-md-block">
                                    </div>

                                    <div class="course-meta">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="">
                                                    <i class="fas fa-play-circle"></i>
                                                    21 Bài học
                                                </span>
                                                <span class="">
                                                    <i class="far fa-clock"></i>
                                                    09:53:49 Giờ
                                                </span>
                                                <span class=""><i class="fas fa-closed-captioning"></i>Tiếng anh</span>
                                                <hr class="bg-white my-1">
                                                <span class="badge badge-primary"><i class="fa fa-level-up"></i>Người mới bắt đầu</span>
                                                <button class="btn-compare-sm" onclick="event.stopPropagation(); $(location).attr('href', 'https://4user.net/home/compare?course-1=practical-exam-prj&amp;&amp;course-id-1=83');"><i class="fas fa-retweet"></i>Compare</button>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="floating-user d-inline-block">
                                                    <img src="https://4user.net/uploads/user_image/optimized/6981af2b9220e61af0f42817a2574122.jpg" width="30px" data-bs-toggle="tooltip" data-bs-placement="top" title="" onclick="event.stopPropagation(); $(location).attr('href', 'https://4user.net/home/instructor_page/1');" data-bs-original-title="4 User" aria-label="4 User">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="course-price-rating">
                                    <div class="course-price">
                                        <span class="current-price">₫300,000</span>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">0</span>
                                    </div>
                                    <div class="rating-number">
                                        0 Xếp hạng
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <nav>
                    <ul class="pagination justify-content-center"><li class="page-item active disabled"> <span class="page-link">1</span></li><li class="page-item"><a @onclick='() => NavigateToUrl("/course")' data-ci-pagination-page="2">2</a></li><li class="page-item"><a href="https://4user.net/home/courses/12" data-ci-pagination-page="3">3</a></li><li class="page-item"><a href="https://4user.net/home/courses/6" data-ci-pagination-page="2" rel="next"><i class="fas fa-chevron-right"></i></a></li></ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="js/Page/Course/course.js"></script>

@code {
    private SearchCourseParam searchCourseParam { get; set; }
    private List<Tag> tagList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        // lấy danh sách tag
        tagList = await _tagService.GetAllTag();
        StateHasChanged();
    }

    private string SearchCourseByCondition()
    {
        if (searchCourseParam != null)
        {
            
        }
    }
}
