@inherits LayoutComponentBase

<PageTitle>CourseProject</PageTitle>
<link rel="stylesheet" href="css/Common/responsive.css">
<div class="page">
    <main>
        <HeaderLayout />
        @Body
        <FooterLayout />
    </main>
</div>