@using CourseProject.Shared.ComponentBase
@inherits BaseComponentCustom
<style>
    .header-user-wrapper .search-box input {
        width: 250px;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 18px;
        color: rgba(255, 255, 255, 0.8);
        padding: 11px 15px;
        border: none;
        font-size: 14px;
        line-height: 14px;
        height: 40px !important;
    }
</style>
<div class="header-user-wrapper">
</div>

@code {
    
}
